/*BASE STYLES*/
:root {
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan:  hsl(192, 70%, 51%);

    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%):;

    --font-base: 18px;
    --font-weight: 400;

    --mobile: 375px;
    --desktop: 1440px;
}
@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url("font/PublicSans-Regular.ttf") format("ttf");
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: var(--font-base);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}