/*BASE STYLES*/
:root {
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan:  hsl(192, 70%, 51%);

    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%):;

    --font-base: 18px;
    --font-weight: 300;

    --transition: color 0.5s ease-in;

    --mobile: 375px;
    --desktop: 1440px;
}
@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url("font/PublicSans-Regular.ttf") format("ttf");
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: var(--font-base);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
    fill: currentColor;
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
/*NAVIGATION STYLES*/

.nav {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    width: 275px;
    height: 280px;
    background: white;
    position: absolute;
    top: 59px;
    left: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 4px 14px 15px 9px rgba(5, 16, 17, 0.2);
    transition: opacity 0.3s ease-in;
}
.nav-list__items {
    display: inline;
    margin: -23px 38px 0 0;
}
.nav-list__items a {
    color: #3e3939;
}
.logo {
    min-width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-white);
    margin-left: 30px;
}
.is-hidden {
    opacity: 0;
}

.btn-menu {
    background: url("img/icon-hamburger.svg") center no-repeat;
    width: 50px;
    height: 30px;
    margin-right: 20px;
}
.btn-menu-close {
    background: url("img/icon-close.svg") center no-repeat;
}
/*HOME STYLES*/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 95px;
}
.home-bg {
    background: url("img/image-mockups.png")center bottom no-repeat,url("img/bg-intro-mobile.svg") center no-repeat;
    width: 100%;
    height: 284px;
    background-size: 327px, cover;
}
.copy-title {
    text-align: center;
    font-size: 2.1em;
    font-weight: 500;
    letter-spacing: 0.021em;
    max-width: 305px;
}
.copy-description {
    color: var(--neutral-grayish-blue);
    text-align: justify;
    max-width: 288px;
    word-break: break-word;
    font-size: 0.8em;
    margin-top: -12px;
    padding: 0px 2em;
    line-height: 1.7;
}
.request-info-btn {
    position: relative;
    color: white;
    padding: 0.8em 2em;
    background-image: linear-gradient(to right, var(--primary-lime-green) 0%,var(--primary-bright-cyan) 100%);
    border-radius: 30px;
    font-size: 0.8em;
    z-index: 1;
}
.request-info-btn:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, hsl(136, 78%, 66.1%) 0%,hsla(185.5, 70.3%, 51.2%, 0.58) 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 30px;
}
.request-info-btn:hover::before {
    opacity: 1;
}
/*ABOUT STYLES*/
.about {
    background: var(--neutral-light-grayish-blue);
    padding-bottom: 45px;
}
.article-img{
    width: auto;
    height: auto;
}
.info-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
/*BLOG STYLES*/
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    background-color: var(--neutral-very-light-gray);
}
.blog-img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    background: white;
    margin: 0 0 30px 0;
    border-radius: 6px;
    padding: 0 0 35px 0;
}
.blog-articles h3 {
    margin-left: 29px;
    transition: var(--transition);
}
.blog-articles h3:hover {
    color: var(--primary-lime-green);
    cursor: pointer;
}
.blog-articles .copy-description {
    line-height: 1.4;
    letter-spacing: -0.01em;
}
.info-articles .copy-description {
    text-align: center;
    max-width: 310px;
}
h2 {
    font-weight: normal; 
}
.about-title {
    max-width: 200px;
    text-align: center;
}
h3 {
    font-size: 1.2em;
    font-weight: normal;
}
.small-copy {
    color: var(--neutral-grayish-blue);
    align-self: flex-start;
    padding-top: 32px;
    font-size: 0.7em;
    margin: 0 0 -12px 29px;
}
/*FOOTER STYLES*/
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary-dark-blue);
}
.social {
    display: flex;
    justify-content: center;
    width: 100%;
}
.social-links {
    position: relative;
    width: 25px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.nav-footer {
    margin: 0 38px 0 0;
}
.nav-list__items-footer {
    display: block;
    margin: 5px 0;
}
.nav-list__items-footer a {
    color: white;
    transition: var(--transition);
}
.nav-list__items-footer a:hover {
    color: var(--primary-lime-green);
}
.nav-list-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container .request-info-btn {
    margin: 12px 0 22px 0;
}
.copy-footer {
    padding: 0 0 40px 0;
}
@media (min-width: 815px) {
    .footer-container {
        flex-direction: row;
    }
    .logo {
        margin-left: 0px;
    }
    .nav-footer {
        margin: 0 38px 0 0;
    }
    .copy-footer {
        padding: 0px 0 0px 130px;
    }
    .nav-list-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}