/*BASE STYLES*/
:root {
    --primary-dark-blue: hsl(233, 26%, 24%);
    --primary-lime-green: hsl(136, 65%, 51%);
    --primary-bright-cyan:  hsl(192, 70%, 51%);

    --neutral-grayish-blue: hsl(233, 8%, 62%);
    --neutral-light-grayish-blue: hsl(220, 16%, 96%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%):;

    --font-base: 18px;
    --font-weight: 300;

    --mobile: 375px;
    --desktop: 1440px;
}
@font-face {
    font-family: 'Public Sans', sans-serif;
    src: url("font/PublicSans-Regular.ttf") format("ttf");
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: var(--font-base);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
    fill: currentColor;
}
img {
    width: 100%;
    display: block;
    object-fit: cover;
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
/*NAVIGATION STYLES*/

.nav {
    position: relative;
    width: 100%;
    height: 60px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style-type: none;
}
.nav-list__items {
    display: inline;
}
.logo {
    min-width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-white);
}
.is-hidden {
    visibility: hidden;
}
/*HOME STYLES*/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-bg {
    background: url("img/image-mockups.png")center bottom no-repeat,url("img/bg-intro-mobile.svg") center no-repeat;
    width: 100%;
    height: 284px;
    background-size: 327px, cover;
}
.copy-title {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.021em;
    max-width: 304px;
}
.copy-description {
    color: var(--neutral-grayish-blue);
    text-align: justify;
    max-width: 325px;
    word-break: break-word;
    font-size: 1em;
    margin-top: -12px;
}
/*ABOUT STYLES*/
.article-img{
    width: 100px;
    height: 100px;
}
/*BLOG STYLES*/
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-img {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
}
/*FOOTER STYLES*/
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary-dark-blue);
}
.social {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
}
.social-links {
    position: relative;
    width: 25px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.nav-footer {
    margin: 0 38px 0 0;
}
.nav-list__items-footer {
    display: block;
    margin: 5px 0;
}
.nav-list__items-footer a {
    color: white;
}
.nav-list-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.request-info-btn {
    color: white;
}